.height-inherit {
  height: inherit;
}
.my-banner {
  max-height: 35rem;
}

.detail-photo {
  max-width: 10rem;
}

.side-image {
  width: 4rem;
}

.file-input {
  visibility: visible !important;
  border: 0;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
  color: #272727;
}
