.banner {
  height: 45vh;
  max-height: 25rem;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
}

.banner h1 {
  position: relative;
  display: inline-block;
  top: 18rem;
  padding: 1rem 3rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.product-tabs {
  border: solid 1px #dee2e6;
  border-top: 0;
  padding: 1rem;
}
